{
  "presets": [
    ["@babel/preset-env", {"modules": false}],
    "@babel/preset-react"
  ],
  "plugins": [
        [
      "transform-imports",
      {
        "@reglendo/mergado-ui-kit": {
          "transform": "@reglendo/mergado-ui-kit/lib/components/${member}",
          "preventFullImport": true
        },
        "@reglendo/mergado-ui-icons": {
          "transform": "@reglendo/mergado-ui-icons/lib/icons/${member}",
          "preventFullImport": true
        }
      }
    ],
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  }
}
